<h1>Demo#hello</h1>
<p>Hello World</p>

<%= 1 + 1 %>
<br />

[2,3,4,5,6]
<br />

<% @array.each do |a| %>
  <%= a %>
<% end %>

<a href="demo/index">Index page 1</a> <br />
<%= link_to('Index page 2', {:action => 'index'}) %>

ID: <%= params[:id] %> <br />
ID: <%= @id %> <br />
Next Page <%= @page + 1 %> <br /> 
<hr>

<%= params.inspect %>